<!DOCTYPE html>

<html>
   <head>
      <title>KingGoku90 Backend Portfolio App</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>KingGoku90 Backend Portfolio App</h1>
    
    <div class="container">
      
        <ul>
            <li><a href="/timestamp">Timestamp Microservice</a></li>
            <li><a href="/requestHeaderParser">Request Header Parser Microservice</a></li>
            <li><a href="/urlShortenerMicroservice">URL Shortner Microservice</a></li>
            <li><a href="/exerciseTracker">Exercise Tracker Microservice</a></li>
            <li><a href="/fileMetadataMicroservice">File Metadata Microservice</a></li>
        </ul>
    </div>

      
    <div class="footer">
      <p>
        By <a href="https://www.ryno.x10.mx/" target="_blank">Ryno "KingGoku90" Rossouw</a>
      </p>
    </div>
  </body>
</html>
